.filters {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.filter-btn {
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 4px;
  min-width: 111px;
}

.filter-btn:hover {
  background-color: #ddd;
}

.filter-btn.active {
  color: #fff;
  background-color: #0077ff;
}
