input[type="text"],
textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  width: 379px;
  max-width: 379px;
  max-height: 87px;
}

textarea {
  min-height: 87px;
  min-width: 100%;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #3498db;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  background-color: #0177fe;
}

button:hover {
  background-color: #015fe7;
}

.checkbox-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #757575;
}
